[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg

package-name = collective.table

# development tools
parts +=
    pyflakes
    pep8
    sphinxbuilder
    test

eggs += plone.reload
zcml += plone.reload


# ===============================
# Prepare syntax validation tools
# ===============================
[pyflakes]
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'

[pep8]
recipe = zc.recipe.egg
eggs =
   pep8
scripts =
   pep8


# ====================================
# Prepare Sphinx documentation builder
# ====================================
[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
interpreter = ${buildout:directory}/bin/zopepy


# ====================================
# Enable auto-coloring of test reports
# ====================================
[test]
recipe = zc.recipe.testrunner
eggs += collective.table [test]
defaults = ['--auto-color', '--auto-progress', '--exit-with-status']


