.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 60%;
	float: left;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('++resource++jquery.datatables/media/images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('++resource++jquery.datatables/media/images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('++resource++jquery.datatables/media/images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('++resource++jquery.datatables/media/images/forward_enabled.jpg');
}



table.dataTables {
	margin: 0 auto;
	clear: both;
	width: 100%;
}

table.dataTables thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.dataTables tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.dataTables tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.dataTables td {
	padding: 3px 10px;
}

table.dataTables td.center {
	text-align: center;
}



/* sorting */
table.dataTables .sorting_asc {
	background: url('++resource++jquery.datatables/media/images/sort_asc.png') no-repeat center right;
}

table.dataTables .sorting_desc {
	background: url('++resource++jquery.datatables/media/images/sort_desc.png') no-repeat center right;
}

table.dataTables .sorting {
	background: url('++resource++jquery.datatables/media/images/sort_both.png') no-repeat center right;
}

table.dataTables .sorting_asc_disabled {
	background: url('++resource++jquery.datatables/media/images/sort_asc_disabled.png') no-repeat center right;
}

table.dataTables .sorting_desc_disabled {
	background: url('++resource++jquery.datatables/media/images/sort_desc_disabled.png') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}

table.dataTables tr.even.row_selected td {
	background-color: #B0BED9;
}

table.dataTables tr.odd.row_selected td {
	background-color: #9FAFD1;
}

.dataTables_wrapper .paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

/* Needs some serious Plone love */
.dataTables_wrapper .paging_full_numbers span.paginate_button,
 	.dataTables_wrapper .paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
	font-size: smaller;
}

.dataTables_wrapper .paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.dataTables_wrapper .paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.dataTables_wrapper .paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}



/* Sorting classes for columns */
 /* Needs better colours matching with Plone odd/even rows */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* KeyTable */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * TableTools styles
 */
.TableTools {
	padding: 3px 0 3px 3px;
	border: 1px solid #d0d0d0;
	background-color: #f0f0f0;
	float: right;
	margin-bottom: 1em;
}

.TableTools_button {
	position: relative;
	float: left;
	margin-right: 3px;
}

.TableTools_csv {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/csv.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_csv_hover {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/csv_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_xls {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/xls.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_xls_hover {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/xls_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_clipboard {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/copy.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_clipboard_hover {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/copy_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_print {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/print.png) no-repeat center center;
	border: 1px solid #f0f0f0;
}

.TableTools_print_hover {
	background: url(++resource++jquery.datatables/extras/TableTools/media/images/print_hover.png) no-repeat center center;
	border: 1px solid #d0d0d0;
	background-color: #fdfdfd;
}

.TableTools_PrintInfo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	background-color: #3f3f3f;
	color: white;
	padding: 10px 30px;
	
	opacity: 0.9;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.TableTools_PrintInfo h6 {
	font-weight: normal;
	font-size: 28px;
	line-height: 28px;
	margin: 1em;
}

.TableTools_PrintInfo p {
	font-size: 14px;
	line-height: 20px;
}
